extends layout
block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let fruitid = toShow._id
    - let name = toShow.NAME
    - let color = toShow.COLOR
    - let calories = toShow.CALORIES
    - let actionid = "/resource/fruit/" + fruitid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='fruitAttr mr-3') fruitid is:
          div #{fruitid}
      div.row
        div(class='fruitAttr mr-3') fruit_Name is:
          div #{name}
      div.row
        div(class='fruitAttr mr-3') fruit_color is:
          div #{calories}
      div.row
        div(class='fruitAttr mr-3') fruit_Calories:
          div #{actionid}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the fruit collections
      window.location.href='/fruit'
    }
  script.
    function deleteOnid() {
      console.log("starting delete");
      // delete first
      fetch(actionid, {
        method: 'DELETE'     // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeeded");
        window.location.href='/fruit';
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error );
      });
    }